  <nav class="post-nav">
    {{#next_post}}
      <span class="post-nav-item prev">Newer: <a href="{{url}}">{{title}}</a></span>
    {{/next_post}}
    {{#prev_post}}
      <span class="post-nav-item next">Older: <a href="{{url}}">{{title}}</a></span>
    {{/prev_post}}
  </nav>
